.cell{
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #444;
    border-radius: 4px;
    margin: 2px;
    padding: 2px;
    text-align: center;
    overflow: hidden;
    text-transform:capitalize;
    cursor: pointer;
}

.cell.focused {
    box-shadow:0 0 3px #000;
    -moz-box-shadow:0 0 3px #000;
    -webkit-box-shadow:0 0 3px #000;
}

.cell.empty{
    background-color: transparent;
    border-color: transparent;
}

.row{
    padding: 0px;
    margin: -4px;
}
